# รูปแบบ: postgresql://ชื่อผู้ใช้:รหัสผ่าน@localhost:5432/ชื่อฐานข้อมูล
DATABASE_URL="postgresql://postgres:07280729@localhost:5432/events_checkin"
# DATABASE_URL="postgres://postgres:postgres@localhost:5432/event_checkin"
PORT=4000

POSTGRES_DB=events_checkin
POSTGRES_APP_USER=postgres
POSTGRES_APP_PASSWORD=07280729